<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="https://nftworlds-query.s3.ap-southeast-2.amazonaws.com/static/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://nftworlds-query.s3.ap-southeast-2.amazonaws.com/static/style.css">
<script type="text/javascript" src="https://nftworlds-query.s3.ap-southeast-2.amazonaws.com/static/script.js"></script>


</head>
<body>

<div class="center2">
<h2>NFTWorlds Image Gallery for World ID: {{ world }}</h2>
<h2><a href="https://opensea.io/assets/0xbd4455da5929d5639ee098abfaa3241e9ae111af/{{ world }}"><img src="https://nftworlds-query.s3.ap-southeast-2.amazonaws.com/static/opensea.svg" height="40px" width="40px" alt="View world on OpenSea" style="width:42px;height:42px;" class="center"> See on OpenSea</a></h2>
</div>

<!--- Thanks to the lightbox tutorial from https://www.freecodecamp.org/news/how-to-create-a-lightbox-using-html-css-and-javascript/-->

<div class="row">
  {% for world in paths %}
  <div class="col">
     <img src="{{ world.image }}" onclick="openLightbox();toSlide({{ loop.index }})" class="hover-shadow preview" alt="{{ world.worldName }} : {{ world.worldDescription }}" />
  </div>
  {% endfor %}
</div>


<!-- This is your lightbox, it is contained in a modal. Here you provide all the images,
     controls, and another set of preview images as the dots. Dots show your user which
     image is currently active. Note that you use entities (e.g. &times;), more info on
     them at the bottom. -->
     
<div id="Lightbox" class="modal">
  <span class="close pointer" onclick="closeLightbox()">&times;</span>
  <div class="modal-content">
    {% for world in paths %}
    <div class="slide">
        <div class="row">
        <img src="{{ world.image }}" class="image-slide" alt="{{ world.worldName }}" />
        </div>
        <div class="row" width="100%";><h2 class="center"> {{ world.worldName }} : {{ world.worldDescription }} </h2></div>
    </div>
    {% endfor %}
  
    <a class="previous" onclick="changeSlide(-1)">&#10094;</a>
    <a class="next" onclick="changeSlide(1)">&#10095;</a>
    
    
    <div class="dots">
      {% for world in paths %}
      <div class="col">
        <img src="{{ world.image }}" class="modal-preview hover-shadow" onclick="toSlide({{ loop.index }})" alt="{{ world.worldName }} : {{ world.worldDescription }}" />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
      {% for world in paths %}
      <div class="mySlides">
        <div class="numbertext"> {{ loop.index }} </div>
          <img src="{{ world.image }}" style="width:100%">
          <!-- Caption text -->
          <div class="caption-container">
            <p id="caption">"{{ world.worldName }} : {{ world.worldDescription }}"</p>
        </div>
      </div>
      {% endfor %}
    
      <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    <!-- Thumbnail image controls -->
    {% for world in paths %}
    <div class="column">
      <img class="demo" src="{{ world.image }}" onclick="currentSlide(1)" alt="{{ world.worldName }}">
    </div>
    {% endfor %}

  </div>
</div>
</body>
</html>